@media (orientation: portrait) {
  .splash {
    margin-top: 50px;
  }

  .text-splash {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .text-splash h2 {
    font-size: 40px;
    line-height: 1.1em;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(25, 25, 25, 0.369);
  }

  nav {
    display: none;
  }

  #dynCursor {
    display: inline-flex;
  }

  #dynText {
    padding-left: 12px;
  }

  .about-me .about-me-content {
    margin-top: 50px;
    text-align: center;
    width: 80%;
  }

  .showcase-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .modal-content {
    width: 80%;
  }

  .modal-content video {
    height: 40%;
  }

  .modal-text-plane {
    flex-direction: column;
    gap: 5px;
  }
  .modal-text-left {
    width: 100%;
    max-width: 100%;
  }

  .sort-menu {
    flex-direction: column;
  }

  .sort-link {
    margin: 3px 0 3px 0;
  }

  .sort-menu .sort-link,
  .sort-menu p {
    padding: 0px;
  }
}

@media (max-width: 1920px) {
  .about-me-content p {
    font-size: 1em;
    text-wrap: wrap;
    margin: 0;
  }

  .about-me-5-content p {
    font-size: 1em;
    text-wrap: wrap;
  }
}

@media (max-width: 1280px) {
  .about-me-content p {
    font-size: 0.8em;
    text-wrap: wrap;
    margin: 0;
  }

  .about-me-5-content p {
    font-size: 0.8em;
    text-wrap: wrap;
  }

  .text-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text-container p {
    font-size: 0.7em;
    text-wrap: nowrap;
  }
}

@media only screen and (max-width: 1023px) and (orientation: portrait) {
  div {
    display: none;
  }

  body .warning {
    display: flex;
  }

  body .disclaimer {
    display: none;
  }

  #header-container {
    display: none;
  }
}
