@media (orientation: portrait) {
    .splash {
        margin-top: 50px;
    }

     .textsplash {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
     }
     
     .textsplash h2 {
        font-size: 40px;
        line-height: 1.1em;
        margin: 0;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        background-color: rgba(25, 25, 25, 0.369);
    }
    
    nav {
        display: none;
    }
    
    #dynCursor {
        display: inline-flex;
    }
    
    #dynText {
        padding-left: 12px;
    }

    .aboutmecontent {
        margin-top: 50px;
        text-align: center;
        width: 80%;
    }

    .showcasecon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .modalcontent {
        width: 80%;
    }

    .modalcontent video {
        height: 40%;
    }

    .modaltextplane {
        flex-direction: column;
        gap: 5px;
    }
    .modaltextleft {
        width: 100%;
        max-width: 100%;
    }

    .sortmenu {
        flex-direction: column;
    }

    .sortlink {
        margin: 3px 0 3px 0;
    }

    .sortmenu .sortlink, .sortmenu p {
        padding: 0px;
    }
}