* {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(39, 39, 39);
    color: white;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px 20px;
}

h3 {
    margin: 0;
    letter-spacing: 2px;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
}

nav a:hover {
    text-decoration: underline;
}

.splash {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textsplash {
    display: flex;
    flex-direction: row;
    font-weight: lighter;
}

.textsplash h2 {
    font-size: 50px;
    font-weight: 400;
}

#dynText {
    padding-left: 25px;
    margin-right: none;
    overflow: visible;
    color: red;
}

#dynCursor {
    font-weight: lighter;
    margin-left: none;
    position: relative;
    left: -5px;
    bottom: 2px;
    overflow: visible;
    text-overflow: clip;
    background: none;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.aboutmecontent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutmecontent p {
    text-wrap: wrap;
}

.int {
    display: flex;
    flex-direction: row;
}


