.header-container {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  background-color: rgb(29, 29, 29);
  transition: background-color 0.2s ease-in-out, border-width 0.2s ease-in-out;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px;
  z-index: 19000000;
  border-bottom: 0px solid;
  background-color: rgb(29, 29, 29);
}

.header p {
  color: gray;
  margin: 0 10px;
  padding-top: 2px;
  font-size: 1.5em;
  font-weight: 200;
}

.header-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  margin-right: 300px;
}

.header-container-scrolled {
  z-index: 1900000000;
  background-color: rgb(29, 29, 29);
  border-bottom: 1px solid rgb(54, 54, 54);
  transition: background-color 0.2s ease-in-out, border-width 0.2s ease-in-out;
}

.logo {
  font-weight: 500;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo:hover {
  cursor: pointer;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    rgb(0, 205, 0),
    rgb(0, 166, 255),
    rgb(122, 0, 210),
    violet
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite;
}

h3 {
  color: rgb(255, 255, 255);
  margin: 0;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 15px;
  font-weight: 200;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: gray;
  font-size: 15px;
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 2px;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}
